.card{
    width : 210px;
    border-radius: 5px;
    text-align: center;
    border: solid grey 1px;
}
img{
    width: 200px;
    border : 5px solid rgb(236, 183, 191);
    border-radius: 50%;
}
h1{
    text-align: center;
}