h1 {
    color : green;
    text-decoration : #1f528a underline wavy;
    line-height: 50px;
}
h2 {
    color : magenta;
}
p{
    color: white;
    background-color: black;
}
button{
    color: red;
    background-color: pink
}
.two{
    text-transform: uppercase;
    font-family: monospace;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    letter-spacing : 20px;
    text-decoration : plum underline wavy;
}
/* Make all LI's blue */
li{
    color: blue;
}
/* Make everything with the class of 'done' grey*/
.done{
    color: grey;
}
/* Make the element with the id of 'clear' have a red BG and white text */
#clear{
    background-color:red;
    color:white;
}

header a{
    text-decoration : underline;
    font-size: 30px;
    color : teal ;
}
#dislikes a{
    font-weight: bold;
    color: red;
}